.ut-content {
    max-height: 100% !important;
}

.hide {
    display: none;
}


input[type="number"] {
    border-radius: 0;
    padding: 0 .5em;
    background-color: #262c38;
    border: 1px solid #4ee6eb;
    box-sizing: border-box;
    color: #4ee6eb;
    font-family: UltimateTeam, sans-serif;
    font-size: 1em;
    height: 2.8em;
    opacity: 1;
    width: 100%;
}

.listFUTItem.selected .rowContent {
    background-color: #394754 !important;
}